@model IEnumerable<InfoStore.Models.Compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LojaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LojaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraID })
        </td>
    </tr>
}

</table>
