@model InfoStore.Models.Factura

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Config.ConfigID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Config.ConfigID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quant_Prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quant_Prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quant_Config)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quant_Config)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
