@model IEnumerable<InfoStore.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.NomeFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quant_Prod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Config.ConfigID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quant_Config)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_factura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.NomeFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quant_Prod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Config.ConfigID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quant_Config)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_factura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacturaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacturaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacturaID })
        </td>
    </tr>
}

</table>
